include LICENSE
include MANIFEST.in
include README.rst
include requirements.txt
include requirements-tests.txt
include mixer/resources/file.txt
include mixer/resources/image.jpg

recursive-include mixer *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
