Django              == 1.7
flask-sqlalchemy    == 2.0
ipdb                == 0.8
mongoengine         == 0.8.7
peewee              == 2.3.1
pony                == 0.5.3
pytest              == 2.6.2
sqlalchemy          == 0.9.7
