Django              >= 3.0
Flask               >= 1.0
Marshmallow         >= 3.9
SQLAlchemy          >= 1.1.4, < 2.0
flask-sqlalchemy    >= 2.1
mongoengine         >= 0.10.1
peewee              >= 3.7.0
pony                >= 0.7
psycopg2-binary     >= 2.8.4

pytest
